div.main {
  border: 3px solid red;
  display: flex;
  justify-content: center;
  margin: auto 0;
}


section.locationCells {
  border: 3px solid blue;
  display: grid;
  grid-template-rows: repeat(5, 15vmin);
  grid-template-columns: repeat(5, 30vmin);
  grid-gap: 0;
  text-align: center;
  margin: 0;
  justify-content: center;
}
